div.container-fluid > h1 {
  color: #CD4F1A;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #FFF, 3px 3px 0px #CD4F1A;
}

li {
  background-color: #F7F7F9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #E1E1E8;
}

.profilePic {
  float: left;
  margin: 3px;
  margin-right: 10px;
}

.profilePic > img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.info {
  float: none;
}

div.additional-info {
  margin-left: 5px;
  margin-top: 5px;
}