body {
  background: url(/assets/img/background.png);
  font-family: "Lato", sans-serif;
}

a {
  color: #E1563F;
  text-decoration: none !important;
}
a:hover { color: #cd371d; }

header {
  background: url(/assets/img/navigation_background.png);
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  margin-bottom: 1em;
}
h1 { 
  color: #fff;
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  padding: 12px 0; 
}

.profilePic {
  float: left;
  margin: 3px;
  margin-right: 10px;
}
.profilePic > img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.info {
  float: none;
}

div.additional-info {
  margin-left: 5px;
  margin-top: 5px;
}

.timeline-header {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
  color: #252525;
}
.timeline-header a { color: #252525; }

.timeline-time {
  color: #999;
  font-size: 11px;
}

.timeline-point {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 1em;
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1)
}

.timeline-point .tags {
  margin-top: .5em;
}
