/*
div.container-fluid > h1 {
  color: #CD4F1A;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #FFF, 3px 3px 0px #CD4F1A;
}

li {
  background-color: #F7F7F9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #E1E1E8;
}
*/
body {
  background: url(/assets/img/background.png);
  font-family: "Lato", sans-serif;
}
a {
  color: #E1563F;
  text-decoration: none !important;
}
a:hover { color: #E1563F; }

.profilePic {
  float: left;
  margin: 3px;
  margin-right: 10px;
}

.profilePic > img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.info {
  float: none;
}

div.additional-info {
  margin-left: 5px;
  margin-top: 5px;
}

.timeline-header {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
  color: #252525;
}
.timeline-header a { color: #252525; }
.timeline-header a:after {
  content: " →";
  color: #bbb;
}
.timeline.header a:hover:after {
  color: #E1563F;
}

.timeline-point {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 1em;
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1)
}
