{{view D.ActorView actorBinding="event.actor"}} modified the <a href="https://github.com/emberjs/ember.js/wiki">wiki</a> <br/>
{{#each event.payload.pages }}
  <span>{{echo "action"}} <a {{bindAttr href="html_url"}}>{{page_name}}</a></span>
{{/each}}