{{#view ActorView}}
  modified the <a href="https://github.com/emberjs/ember.js/wiki">wiki</a>
{{/view}}
<div class="additional-info" >
  {{#each event.payload.pages }}
    <span>{{echo "action"}} <a {{bindAttr href="html_url"}}>{{page_name}}</a></span>
  {{/each}}
</div>
