{{#view ActorView}}
  commented on issue
  <a href="{{unbound event.payload.issue.html_url}}#issuecomment-{{unbound event.payload.comment.id}}">
    #{{event.payload.issue.number}}
  </a>
{{/view}}
<div class="additional-info" >
  {{event.payload.issue.title}}
</div>